/* Homepage.css */

.homepage-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-image: url('https://miro.medium.com/v2/resize:fit:1100/format:webp/1*6Jp3vJWe7VFlFHZ9WhSJng.jpeg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px); /* Add blur effect */
  }
  
  .heading {
    text-align: center;
    color: #ffffff; /* White text color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for better readability */
  }
  
  .content {
    margin-top: 20px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff; /* White text color */
  }
  
  .form-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .form-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .form-button:hover {
    background-color: #0056b3;
  }
  
  .people-list {
    list-style-type: none;
    padding: 0;
  }
  
  .person-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9; /* Light gray background color */
  }
  
  .person-item p {
    margin: 0;
  }
  
  .delete-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #c82333;
  }
  