.homepage-container {
  max-width: 100dvw;
  margin: 0 auto;
  padding: 20px;
  background-image: url('../public/library.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; /* This will make the background image cover the entire container */
  min-height: 100vh;
}


.library-container {
  margin: 20px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  height: auto;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #531227;
}

.add-book-section {
  margin-bottom: 20px;
  text-align: center;
}

.return-book-section {
  margin-bottom: 20px;
}

.borrowed-books-section {
  border-top: 1px solid #4f2222;
  padding-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

button {
  margin-left: 10px;
}

input {
  border-radius: 5px;
  padding: 8px;
  border: 2px solid #4f2222;
  margin-bottom: 10px;
}

.book-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.book-card {
  flex: 1 1 calc(23.33% - 20px);
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: #B4B4B8;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

h2{
  color: #4f2222;
}

.logs-list {
  display: flex;
  flex-direction: column-reverse; /* Display logs in reverse order */
}

.log-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
